services:
  mysql:
    image: mariadb:11.4
    logging:
      driver: none
    command: ["--max-allowed-packet=512M"]
    volumes:
      - "./data/db:/var/lib/mysql:delegated"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    restart: always
    networks:
      - ols-network  # CAMBIADO: De 'default' a 'ols-network'

  litespeed:
    image: litespeedtech/openlitespeed:${PHP_VERSION}
    container_name: litespeed
    env_file:
      - .env
    volumes:
      - ./lsws/conf:/usr/local/lsws/conf
      - ./lsws/admin-conf:/usr/local/lsws/admin/conf
      - ./bin/container:/usr/local/bin
      - ./sites:/var/www/vhosts/
      - ./acme:/root/.acme.sh/
      - ./logs:/usr/local/lsws/logs/
    # ELIMINADO: El bloque 'ports' ha sido completamente eliminado. Dokploy se encarga.
    restart: always
    environment:
      TZ: ${TimeZone}
    networks:
      - ols-network  # CAMBIADO: De 'default' a 'ols-network'
      - dokploy      # CORRECTO: Esta se mantiene para que Dokploy pueda acceder.

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:${PHPMYADMIN_VERSION}
    env_file:
      - .env
    # ELIMINADO: El bloque 'ports' ha sido completamente eliminado.
    environment:
      PMA_HOST: mysql
    restart: always
    networks:
      - ols-network  # CAMBIADO: De 'default' a 'ols-network'
      - dokploy      # AÑADIDO: Para poder acceder a él a través de un dominio en Dokploy

  redis:
    image: "redis:alpine"
    logging:
      driver: none
    volumes:
      - ./redis/data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_REPLICATION_MODE=master
    restart: always
    networks:
      - ols-network  # CAMBIADO: De 'default' a 'ols-network'

networks:
  ols-network:
    driver: bridge
  dokploy:
    external: true
